body {
    font-family: "Roboto", sans-serif;
    background-color: #202124;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    display: flex;
    justify-content: end;
    height: 48px;
    align-items: center;
}

.header-menu {
    display: flex;
}

.header-menu__link {
    line-height: 24px;
    font-size: 13px;
    padding-left: 15px;
    text-decoration: none
}

.header-menu__link--white {
    color: white;
}

.header-menu__link:hover {
    text-decoration: underline;
}

.header-menu__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 48px;
    height: 48px;
}

.header-menu__button:hover {
    transition: 200ms;
    background-color: rgba(232,234,237,.08);
}

.header-menu__button--white-icon {
    fill: currentColor;
    color: rgba(255,255,255,.87);
}

.header-menu__img-avatar {
    height: 32px;
    width: 32px;
    border-radius: 100%;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: end;
    flex: 10%;
}

.search-form__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 48px;
}

.search-form__input-container {
    display: flex;
    width: 100%;
    align-items: center;
    border: 1px solid #5f6368;
    border-radius: 32px;
    max-width: 584px;
    padding: 16px 16px 16px 8px;
    margin-top: 32px;
}

.search-form__input-container--hover:hover {
    background-color: #5f6368;
}

.search-form__input {
    background-color: transparent;
    border: none;
    color: #e8eaed;
    padding: 0 8px;
    font-size: 16px;
    line-height: 24px;
    flex: 100%;
    outline: none;
}

.search-form__icons-right-container {
    display: flex;
}

.search-form__icon {
    margin-left: 8px;
    cursor: pointer;
}

.search-form__icon--gray {
    fill: currentColor;
    color: #9aa0a6;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button-container__button {
    border: 1px solid #303134;
    border-radius: 4px;
    font-size: 14px;
    margin: 24px 4px 0;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    cursor: pointer;
}

.button-container__button--dark-theme {
    background-color: #303134;
    color: #e8eaed;
}

.button-container__button:hover {
    border: 1px solid #5f6368;
}

.space-container {
    flex-grow: 1;
    box-sizing: border-box;
}

.footer {
    box-sizing: border-box;
}

.footer--background {
    background-color: #171717;
}

.footer__header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px 30px;
    border-bottom: 1px solid #3c4043;
}

.footer__text {
    font-size: 15px;
    color: #9aa0a6;
}

.footer__promo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer__img-climate {
    height: 14px;
    margin-right: 6px;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__link {
    font-size: 14px;
    padding: 15px;
    display: block;
    text-decoration: none
}

.footer__link--hover:hover {
    text-decoration: underline;
}

.footer__link--gray {
    color: #999da2;
}

.footer__links-container {
    display: flex;
}
